<app-sidebar></app-sidebar>
<div id="main">
  <nav class="navbar navbar-light bg-light">
    <button class="openbtn" (click)="openNav()">☰</button> 
    <span>
      <img src="../assets/img/prof-pic.png">
      João da Silva
    </span>
  </nav>

  <div class="container-fluid">

    <div class="row">     
      <div class="col-md-4">
        <h1>Painel de cursos</h1>
      </div>
      <div class="col-md-8 text-right">
          <a class="btn-drop dropdown-toggle" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por...
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" (click)="sortCompany()">Empresa</a>
            <a class="dropdown-item" (click)="sortQuantity(false)">Maior qtd. de alunos</a>
            <a class="dropdown-item" (click)="sortQuantity(true)">Menor qtd. de alunos</a>
            <a class="dropdown-item" href="#">Mais recentes</a>
            <a class="dropdown-item" href="#">Mais antigos</a>
          </div>
          <input type="text" id="input" (keyup)="search()" placeholder="Pesquisar cursos ou empresas">
      </div>
    </div>

    <div class="row table-responsive">
      <table class="table" id="tab">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Nome do Curso</th>
            <th scope="col" class="fix">Descrição</th>
            <th scope="col">Qtd. de Alunos</th>
            <th scope="col">Edição e Conteúdo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of keys">
            <td>{{key.Company}}</td>
            <td>{{key.Name}}</td>
            <td>{{key.Description}}</td>
            <td>{{key.Quantity}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" (click) = "show(key.Description)">Ver descrição</button></td>
            
            <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{{ titleModal }}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click) = "hide()">Fechar</button>
                  </div>
                  
                  <div class="modal-body">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>