.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #7b96c4;
    border: none;
}

.navbar{
    padding: 1.8rem 1rem;
    span {
        text-align: right;
        color: #7b96c4;
            img{
            border-radius: 50%;
            width: 12%;
        }
    }
}

.btn{
    border-radius: 25px;
    font-size:13px;
    padding: 0px 20px;
    background-color:#7b96c4;
    border:solid #7b96c4 ;
}

h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: #2d3e5c;
}

.table {
    color: #929292;
    thead {
        th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            color: #7b96c4 !important;
        }
        tr {
            border-top: hidden;
        }
    }
    td{
        vertical-align: middle;
        padding: 35px 14px;
    }
}

.table-responsive {
    padding-top: 30px;
}
input{
    margin-left: 15px;
    border-radius: 25px;
    border-radius: 25px 0 0 25px;
    border-right: none !important;
    width: 38%;
    color: #7b96c4;
    padding: 5px !important;
    border: 1px solid #7b96c4;  
}

::placeholder{
    color: #7b96c4 !important;
}

.container-fluid{
    padding-left: 30px;
    margin-top: 40px;;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-width:768px){
    input, .input-group-text{
        margin: 10px 0 10px 10px;
        margin-top: 10px;
        width: 70% !important;
        margin-left: 0%;
    }
    .btn-drop{
        margin-left: 0% !important;
    }
    .input-group-text {
        padding: 0.375rem 1.75rem;
    }
}
.fix{
    width: 35%;
}

.btn-drop, .btn-drop:hover{
    border-radius: 25px;
    margin-left: 20%;
    padding: 8px 23px !important;
    background-color: transparent;
    border: 1px solid #7b96c4;
    color: #7b96c4;
    text-align: left;
    cursor: pointer;
}
.modal-dialog {
    position: relative;
    width: auto;
    padding-top: 15%;
    pointer-events: none;
}
.modal{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000001a;
    z-index: 2;
    cursor: pointer;
}
.modal-content{
    border: hidden;
}
.close{
    border: 1px solid #7f7f7f;
    border-radius: 6%;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0;
}
h4{
    font-size: 1.3rem;
    font-weight: 600;
    color: #2d3e5c;
}
button:focus {
    outline: transparent;
}
input:focus {
    outline: transparent;
}
.dropdown-item, .dropdown-item:hover {
    color: #929292 !important;
    cursor: pointer;
}
.input-group{
    display: content !important;
}
.input-group-text {
    border-left: none !important;
    border-radius: 0 25px 25px 0;
    background-color: transparent !important;
    color: #7b96c4 !important;
    border-color: #7b96c4;
    margin-left: 0 !important;
}